<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.mapper.MenuMapper">
    <select id="selectPermsByUserUid" resultType="java.lang.String">
        SELECT distinct m.perms
        FROM `cms_user_role` ur
                 left join `cms_role` r
                           on ur.rid = r.rid
                 left join `cms_role_menu` rm
                           on ur.rid = rm.rid
                 left join `cms_menu` m
                           on rm.mid = m.mid
        where uid = #{uid} and r.status = 0 and m.status = 0
    </select>
<!--    selectPathsByUserUid-->
    <select id="selectPathsByUserUid" resultType="java.lang.String">
        SELECT distinct m.path
        FROM `cms_user_role` ur
                 left join `cms_role` r
                           on ur.rid = r.rid
                 left join `cms_role_menu` rm
                           on ur.rid = rm.rid
                 left join `cms_menu` m
                           on rm.mid = m.mid
        where uid = #{uid} and r.status = 0 and m.status = 0
    </select>
<!--    selectAuthsByUserUid-->
    <select id="selectAuthsByUserUid" resultType="com.cms.pojo.entity.Menu">
        SELECT distinct m.mid,m.menu_name,m.path,m.icon
        FROM `cms_user_role` ur
                 left join `cms_role` r
                           on ur.rid = r.rid
                 left join `cms_role_menu` rm
                           on ur.rid = rm.rid
                 left join `cms_menu` m
                           on rm.mid = m.mid
        where uid = #{uid} and r.status = 0 and m.status = 0
    </select>
</mapper>